<h1>My Favorite Recipes</h1>
<% if @recipes.any? %>

<div class="card-deck">
  <% @recipes.each do |recipe| %>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
      <div class="mainflip">

        <div class="frontside">
          <div class="card">
            <div class="card-body text-center">
              <p><img class="img-fluid" src="<%= recipe.image_uri %>" alt="card image"></p>
              <h4 class="card-title"><%= recipe.label %></h4>
              <p class="card-text"><%= "From: #{recipe.source}" %></p>
              <form action="<%= favorites_path %>" method="post" class="form add-to-favorites">
                <input type="hidden" name="recipe_uri_fragment" value= "<%= recipe.recipe_uri.fragment %>">
                <button type="submit" class="btn btn-primary btn-sm">
                  <i class="fa fa-heart"></i></button>
              </form>
            </div>
          </div>
        </div>

        <div class="backside scroll">
          <div class="card">
            <div class="card-body text-center mt-4">
              <h4 class="card-title "><%= link_to recipe.label, recipe_search_path(recipe.recipe_uri.fragment) %></h4>
                <% recipe.ingredient_lines.each do |line| %>
              <p class="card-text"><%= line %></p>
                <% end %>
              <form action="<%= favorites_path %>" method="post" class="form add-to-favorites">
                <input type="hidden" name="recipe_uri_fragment" value= "<%= recipe.recipe_uri.fragment %>">
                <button type="submit" class="btn btn-primary btn-sm">
                  <i class="fa fa-heart"></i></button>
              </form>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

<% end %>
</div>
<% end %>
