<%= will_paginate @recipes %>

<section class="recipe-list">
  <h1>Recipes</h1>
  <%= will_paginate @recipes %>
  <% if @recipes %>
    <ul>

      <% @recipes.each do |recipe| %>
        <li>
         <img src= <%= recipe.image %> class="img-thumbnail, item_show" >
         <%= recipe.label %>
         <li><%= link_to "See Details",
         search_show_path(recipe.uri),
         class: "btn btn-primary"%></li>

        </li>
      <% end %>
    </ul>
  <% end %>
</section>
