<%= will_paginate @recipes %>

<section class="recipe-list">
  <h1>Recipes</h1>
  <%= will_paginate @recipes %>
  <% if @recipes %>
    <ul>

      <% @recipes.each do |recipe| %>

         <img src= <%= recipe.image %> class="img-fluid" >
         <%= recipe.label %>
         <%= link_to "See Details",
         search_show_path(recipe.uri),
         class: "btn btn-primary"%></li>


      <% end %>
    </ul>
  <% end %>
</section>
