<h1>Send Message to <span class="channel-name"> <%= @channel %></span> </h1>

<%= form_with url: recipes_index_path, method: "get" do |form| %>
  <%= label_tag(:query, "Search for a recipe") %>
  <%= form.text_field :query %>
  <%= form.submit "Search" %>

<% end %>
