<span class="search"> <%= @channel %></span> </h1>


<%= form_tag search_create_path, method: "post" do %>
  <%= label_tag(:q, "Enter food") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Send") %>

<% end %>
