<h2>  <%= @recipe.label %></h2>
<img src= <%= @recipe.image %> class="img-thumbnail, item_show" >

<%= @recipe.url %>
<%= @recipe.dietlabel %>
 <h3>Ingredients:<h3>
    <%= @recipe.ingredientLines %>
