<div class="home-page">
  <h1><%= link_to "Muncher", root_path, class: "home" %></h1>
  <section class="search">

  <%= form_with url: recipes_path, class: "custom-form", method: "post" do |f| %>

    <div class="form-group">
          <% ["peanut-free", "vegetarian", "alcohol-free"].each do |health_label| %>
              <div class="option d-inline-block">
              <%= f.check_box :health_labels, {multiple:true}, health_label %>
              <%= f.label health_label %>
              </div>
          <% end %>
    </div>

    <div class="form-group input-group">
        <%= f.text_field :user_search, placeholder: "Search", class: 'form-control mr-3 form-width' %>
        <%= f.button( :class => "input-group-append input-group-btn btn-background") do %>
        <span class="input-group-text btn-background" id="basic-text1">
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>
        <% end %>
    </div>

    <% end %>
  </section>
</div>
