<section class="addymame-search-bar">

  <a href="<%= root_path %>"><h1>Addymame</h1></a>
  <%= form_tag recipes_index_path, method: :get do%>
  <div class="addymame-search-bar-search">
    <%= text_field_tag(:search) %>
    <div class="addymame-search-bar-button">
      <%= submit_tag("Search") %>
    </div>
  </div>

  <% end %>
  <div class="flash-message-search-bar">
    <% flash.each do |key, value| %>
    <%= value %>
    <% end %>
  </div>

</section>

<h2 class="addymame-search-results-header"><small>Results for</small> "<%= @search_param.capitalize %>"</h2>

<section class="addymame-search-results">

  <% if @recipes %>
  <% @recipes.each do |recipe| %>
  <a href="<%= recipes_show_path(recipe.id) %>" class="recipe-card">
    <ul>
      <li class="recipe-card-items">
        <%= image_tag recipe.image %>
        <p><%= recipe.name %></p>
      </li>
    </ul>
  </a>
  <% end %>
  <% end %>
</section>
<footer class="index-footer">
  <div class="index-footer-pagination">
    <%= will_paginate @recipes, :class => 'recipe-pagination', previous_label: h("<"), next_label: h(">") %>
  </div>
  <section class = "edamam-footer">
    <div id="edamam-badge" data-color="white"></div>
  </section>
</footer>
