<section class="recipe-list">

  <!-- <h1>Search a recipe <span class="recipe-title"></span> </h1>

  <%= form_tag recipes_path(@recipes), method: "get" do %>
    <%= label_tag(:title, "Enter keyword") %>
    <%= text_field_tag(:title) %>
    <%= submit_tag("Search") %>

  <% end %> -->

  <% if @recipes %>
    <ul>
      <% @recipes.each do |recipe| %>
        <p>
          <%= recipe.label%>
        </p>
        <p>
          <%= link_to "view recipe details", recipe_path(recipe.uri)%>
        </p>
        <p>
          <%= image_tag(recipe.image)%>
        </p>
      <% end %>
    </ul>
  <% end %>
</section>
