<div class="list-container">
  <h1>Results for: <%= @dish%><%=" "%><%= "(#{@recipes.length})"%></h1>
<ul>
<div class="row">
  <% @recipes.each do |recipe| %>
  <div class="col-sm">
  <li><strong><%= recipe.name %></strong></li>
  <li><%= image_tag recipe.image_url %></li>
  <li><%= link_to "See Recipe", show_recipe_path(uri: recipe.uri)%></li>
    </div>
  <%end%>
  </div>
</ul>
</div>


<!-- As a user, when I look at the list of recipes that were the result of a search, then the web app:
shows a paged list of recipes for a given search term, ten at a time
shows the name of the recipe and the corresponding photo
shows next to within each listed recipe a link to that recipe's detail page -->
