<p>Here are your recipes!</p>

<p>PARAMS: <%= params.inspect %> </p>

<% if @recipes %>
   <ul>
     <% @recipes.each do |recipe| %>
       <li>

         <% url = recipe["recipe"]["uri"] %>
         <% pattern = /recipe_(.*)/ %>
         <% uri = pattern.match(url) %>



         <%= link_to recipe["recipe"]["label"], recipe_path(uri[1]) %>
         <p>URI: <%= recipe["recipe"]["uri"] %></p>
         <p>hard-coded REGEX: <%= uri[1] %></p>

       </li>
     <% end %>
   </ul>
 <% end %>

<p><%= @recipes.count %></p>
