<h1>MUNCHER</h1>
  <section><%= form_tag search_path, method: "get" do %>
  <%= label_tag(:search_term, "Find your flavor...") %>
  <%= text_field_tag(:search_term) %>
  <%= submit_tag("Search") %>
  <% end %>
  </section>




  <h1>Edamam Recipes</h1>
  <% if @recipes %>
  <%= paginate @recipes , outer_window: 3%>
  <%= page_entries_info @recipes %>

    <ul >
      <% @recipes.each do |recipe| %>
        <li><%= recipe.label %></li>
        <li><%= link_to "Details", recipe_path(recipe.uri) %></li>
        <li><%= image_tag recipe.image%></li>
      <% end %>
    </ul>

  <% end %>
</section>
<%# the recipe.uri is coming from ..http://localhost:3000/recipes/uri%>
<%# the recipe path recipe_path(recipe.uri) is calling the route below%>
<%# get '/recipes/:uid', to: 'recipes#show', as: 'recipe' %>
