<header>
  <h1><%= link_to "Muncher", root_path %></h1>
  <section class="other-pg-search">
    <%= render partial: "form" %>
  </section>
</header>

<h2 id="show-result">Results for "<%= "#{@search_term}" %>"</h2>

<%= will_paginate @recipes %>

<section>

  <ul>

    <% @recipes.each do |recipe| %>
    <li>

      <%= link_to(image_tag("#{recipe.photo}", alt:  "picture of recipe.name"), recipe_show_path(recipe.id)) %>
    </li>
    <li>
      <%= "#{recipe.name}" %>
    </li>
    <% end %>
  </ul>
</section>
