
<%if @recipes.empty? %>
  <%= "We're sorry we could night find any recipes for '#{@search}'" %>

<% else %>

<section class="recipes-list">
  <h1>Recipes for <%= "#{@search}" %></h1>
  <% if @recipes %>
    <ul>
      <% @recipes.each do |recipe| %>
        <li>
          <%= link_to recipe.label, recipe_path(recipe.id)%>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>


<div class="card-columns">
<% @recipes.each do |recipe| %>
  <div class="card">
    <%=image_tag(recipe.image, class:"card-img-top", alt: "#{recipe.label}")%>
    <div class="card-body">
      <h5 class="card-title"><%= link_to recipe.label, recipe_path(recipe.id)%></h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <%recipe.health.each do |dietary|%>
        <span class="badge badge-warning"><%=dietary%></span>
      <%end%>
    </div>
  </div>

<% end %>
</div>
<aside class="page-index">
  <%= paginate @recipes %>
</aside>

<% end %>
