<h1><%= link_to "Edemam", root_path %> </h1>
  <section><%= form_tag search_path, method: "get" do %>
  <%= text_field_tag(:search_term) %>
  <%= submit_tag("search") %>
  <% end %>
  </section>




  <% if @recipes %>
  <%= paginate @recipes , outer_window: 3 %>
  <%= page_entries_info @recipes %>

<div class="row">
     <% @recipes.each do |recipe| %>
     <div class="col-md-3">
       <figure class="card card-product text-center">
     		<div class="img-wrap">
          <%= image_tag recipe.image, class:"card-img-top img-fluid"%>
        </div>
        <figcaption class="info-wrap">
          <%= recipe.label %>
          <div class="action-wrap">
				<div class="details-wrap h5">
        <span class="detail-new"><%= link_to "Details", recipe_path(recipe.uri), class: "btn btn-primary btn-sm add-to-cart" %></span>
        </div>
      </figcaption>
    </figure>
  </div>
      <% end %>

</div>



  <% end %>


</section>
<%# the recipe.uri is coming from ..http://localhost:3000/recipes/uri%>
<%# the recipe path recipe_path(recipe.uri) is calling the route below%>
<%# get '/recipes/:uid', to: 'recipes#show', as: 'recipe' %>
