<% if @recipes.present? %>
  <h3> Results for "<%= "#{params[:search]}" %>" </h3>
  <ul>
  <% @recipes.each do |recipe| %>
    <li><%= image_tag("#{recipe.image}") %></li>
    <li><%= recipe.label %></li>
    <% id = recipe.uri.last(32) %>
    <li><%= link_to "Details", recipe_path(id) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No recipes match this search term.</p>
<% end %>
<%= will_paginate @recipes %>
