<header class = "specific">

  <h1>A NEW HEADER?</h1>
</header>



<p>Results for: <%= params[:input] %></p>

<p>PARAMS: <%= params.inspect %> </p>

<% if @recipes %>
   <ul>
     <% @recipes.each do |recipe| %>
       <li>

         <% url = recipe["recipe"]["uri"] %>
         <% pattern = /recipe_(.*)/ %>
         <% uri = pattern.match(url) %>

        <img src = <%= recipe["recipe"]["image"] %> >
         <%= link_to recipe["recipe"]["label"], recipe_path(uri[1]) %>
         <p>URI: <%= recipe["recipe"]["uri"] %></p>
         <p>hard-coded REGEX: <%= uri[1] %></p>

       </li>
     <% end %>
   </ul>
 <% end %>

<p><%= @recipes.count %></p>
