<section class="recipes-list align-items-center">

<%= will_paginate @recipes, :link_separator => "&#8212;" %>

<table class="table table-responsive">
  <tbody>
  <% @recipes.each do |recipe| %>
      <tr>
        <td class="align-self-center"> <%= image_tag recipe.photo, size: "100x100" %> </td>
        <td>
          <%= link_to "#{recipe.title}", recipe_show_path(recipe.recipe_id)  %>
          <p>
            <% if recipe.restrictions != nil %>
              <% recipe.restrictions.each do |restriction| %>
               | <%= restriction %> |
              <% end %>
            <% end %>

            <% if recipe.diet != nil %>
              <% recipe.diet.each do |diet| %>
               | <%= diet %> |
              <% end %>
            <% end %>
          </p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @recipes, :link_separator => "&#8212;" %>

</section>
