<% if @recipes.any? %>

<h3 class="p-3 text-center">search results for <strong><%=@keyword%></strong></h3>
<br>
  <%= will_paginate @recipes, renderer: BootstrapPagination::Rails %>

<section class='recipes-container'>
  <% @recipes.each do |recipe| %>

    <div class="card shadow p-3 mb-5 bg-white rounded" style="width:18%">
      <%= link_to image_tag(recipe.image, alt: "#{recipe.label}", class: "card-img-top"), recipe_path(recipe.id) %>
      <div class="card-body">
        <h5 class="card-title text-center"><%= recipe.label %></h5>
      </div>
    </div>

  <% end %>
<% else %>
  <section class='not_found'>
    <p class='text-center'>010101010 <strong><%=@keyword%></strong> search does not compute 010101010101010</p>
    <br>
    <p class='text-center'>0101010 please search again 0101010101010 boop beep boop 010</p>
    <br>
    <p class='text-center'>0101010101010101010101010101010101010 end of message 0101010</p>
  </section>

<% end %>

</section>
