
<section class="index-page">

<h1 class="title"><strong>WELCOME TO MUNCHER</strong></h1>

 <%= form_with url: recipes_path, method: :post do |f| %>
 <%= f.label(:word, "Enter Food Item")%>
 <%= hidden_field_tag :os, :value => :word %>
 <%= f.text_field(:word)%>
 <%= f.submit("SEARCH")%>

 <% end %>
</section>
