<h2> Results for "<%= @query %>"</h2>


<ul>
<% @recipes.each do |recipe| %>
  <li>
    <%= image_tag recipe.photo, alt: recipe.name %>

    <%= form_tag recipe_path(recipe.name), method: "post" do %>
      <%= hidden_field_tag(:uri, recipe.uri ) %>
      <%= submit_tag(recipe.name) %>
    <% end %>



  </li>
<% end %>
</ul>
