<h2><%= @recipe.label %></h2>
<h4>By <%= @recipe.source %></h4>
<%= image_tag("#{@recipe.image}") %>
<h5>Ingredients</h5>
  <% @recipe.ingredients.each do |ingredient| %>
  <ul>
  <li><%= ingredient %></li>
</ul>
  <% end %>
  <h5>Dietary Labels</h5>
    <% @recipe.diet_labels.each do |diet_label| %>
    <ul>
    <li><%= diet_label %></li>
  </ul>
    <% end %>
