<header>
  <h1>Muncher</h1>
  <section class="other-pg-search">
    <%= render partial: "form" %>
  </section>
</header>

<section id="show-result">>
<h1><%= @recipe.name %></h1>
<h2>by <%= @recipe.source %></h2>

<ul>
  <li>
    <%= image_tag("#{@recipe.photo}") %>
  </li>
  <li>
    <%= link_to @recipe.original_recipe, @recipe.original_recipe %>
  </li>
  <li>
    <ul>
      Ingredients
    <% @recipe.ingredients.each do |ingredient| %>
    <li>
      <%= ingredient %>
    </li>
    <% end %>
    </ul>
  </li>
  <li>
    <ul>
      Dietary Labels
    <% @recipe.diet_labels.each do |label| %>
    <li>
      <%= label %>
    </li>
    <% end %>
    </ul>
  </li>
</ul>
</section>
