<section class="page-content-wrapper">

<section class="recipe">
  <section class="recipe-intro">
  <h2><%= @recipe.name %> Recipe</h2>
  <h3>by <%= @recipe.creator %></h3>
  <%= image_tag("#{@recipe.image}") %>
  </section>

  <section class="ingredients">
    <h3>Ingredients</h3>

    <% @recipe.ingredients.each do |item| %>
      <p><%= item %></p>
    <% end %>
  </section>

  <section class="labels">
    <h3>Dietary Labels</h3>
    <% @recipe.dietary_labels.each do |label| %>
      <p><%= label %></p>
    <% end %>
  </section>

<section class="recipe-link">
  <a href="<%= @recipe.recipe_link %>" target="_blank" class="btn btn-primary btn-lg raised">Go to Recipe</a>
</section>

</section>

</section>
