<h2>Recipe Details</h2>

<strong><%= link_to "Original Recipe" %></strong>

<table cellpadding="20">

  <thead>
    <tr>
      <th>Recipe</th>
      <th>Ingredients</th>
      <th>Dietary Information</th>
      <th>Health Information</th>

    </tr>
  </thead>


  <tbody>
    <tr>
      <td><%= @recipe.name %></td>
      <td><%= @recipe.ingredients %></td>
      <td><%= @recipe.diet_labels %></td>
      <td><%= @recipe.health_labels%></td>
    </tr>
  </tbody>

</table>
