<%= render partial:"header" %>

<section class="show">
<% if @recipe%>
<h1><%= @recipe.label %></h1>

<%=image_tag(@recipe.image)%>

<ul>
  <h3>Ingredients:</h3>
<% @recipe.ingredients.each do |ingredient|%>
<li>
<%= ingredient %>
</li>
<% end %>
</ul>

<ul>
  <h3>Health Information:</h3>
<% @recipe.health.each do |health|%>
<li>
<%= health %>
</li>
<% end %>
</ul>

<a href="<%=@recipe.url%>" target="_blank">Check out the full recipe! </a>
<%else%>
<% end %>
<div id="edamam-badge" data-color="white"></div>
</show>
