<%= render partial: "layouts/search_bar" %>

<h2> <%= link_to @recipe.name, @recipe.link, target: :_blank %> </h2>

<section>
  <%= image_tag @recipe.photo, alt: @recipe.name %>
</section>

<section>
  <h3> Ingredients </h3>
  <ul>
    <% @recipe.ingredients.each do |ingredient| %>
      <li> <%= ingredient %> </li>
    <% end %>
  </ul>
</section>

<section>
<h3> Dietary Labels </h3>
<ul>
  <% @recipe.dietary_information.each do |diet_info| %>
    <li> <%= diet_info %> </li>
  <% end %>
</ul>
</section>
