<h1>Recipe Show Page</h1>

<h2><%= @recipe.name %></h2>
<p>by</p> <%= @recipe.creator %>

<h3>Ingredients</<h3>
<ul>
  <%= @recipe.ingredients.each do |item| %>
    <li><%= item %></li>
  <% end %>
</ul>

<img src="<% @recipe.image %>">

<h3>Dietary Labels</h3>
<ul>
  <%= @recipe.dietary_labels.each do |label| %>
    <li><%= label %></li>
  <% end %>
</ul>
