<h1><%= link_to "Edemam", root_path %> </h1>

<h2><%= @recipe.label %></h2>

<ul>
  <li><%= image_tag @recipe.image %></li>
  <li><%= link_to @recipe.url, @recipe.url %></li>

  <h5>Ingredients</h5>
  <ul>
    <% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient %></li>
    <% end  %>
  </ul>


  <h5>Dietary Information</h5>
  <ul>
    <% @recipe.healthLabels.each do |healthlabel| %>
    <li><%= healthlabel %></li>
    <% end  %>
  </ul>

</ul>
