<!--boostrap cards -->
<section class="recipe-show">

<article class="card bg-recipe mb-3">
  <img class="card-img-top" src= <%= @recipe.photo %> alt = "photo of <%= @recipe.title %>" />

  <section class="card-img-overlay"> <!-- overlay over photo -->
    <h1 class="recipe-header display-4"> <%= "#{@recipe.title}" %> </h1>
    <cite class="card text"> Source: <%= @recipe.source %> </cite>
  </section>

  <div class="card-body">
    <h2 class="card-title"><%= "#{@recipe.title}" %></h2>
  <ul class="card-text">
      <li> Servings: <%= @recipe.servings.to_i %>  &#127869;</li>
      <li> Calories: <%= @recipe.calorie_count.to_i %> </li>
      <% if @recipe.prep_time > 0.0 %>
        <li> Prep Time: <%= @recipe.prep_time %>
      <% end %>
      <% if !@recipe.diet.empty? %>
       <li>
           <% @recipe.diet.each do |diet| %>
            | <%= diet %> |
           <% end %>
      </li>
      <% end %>

      <% if !@recipe.restrictions.empty? %>
      <li>
           <% @recipe.restrictions.each do |restriction| %>
            | <%= restriction %> |
           <% end %>
      </li>
      <% end %>
  </ul>

    <article class="ingredients card-text">
      <h3> Ingredients </h3>
      <ul>
        <% @recipe.ingredients.each do |ingredient| %>
          <li> <%= ingredient %> </li>
        <% end %>
      </ul>
    </article>
    <aside>
        <%= link_to "Go to", @recipe.recipe_link, target: :blank, class: "card-link" %> <strong> <%= "#{@recipe.source}" %> </strong> for more info and to view the directions!
    </aside>
  </div>

</article>
</section>
