<% if @recipe %>
  <%= @recipe.label %>
  <%= @recipe.image %>
  <a href=<%=@recipe.url%>>Source</a>
  <ul>
    <% @recipe.ingredientLines.each do |ingredient| %>
      <li><%=ingredient%></li>
    <% end %>
  </ul>
  <ul>
    <% @recipe.healthLabels.each do |label| %>
      <li><%=label%></li>
    <% end %>
  </ul>
<% else %>
  <h2 class='text-center'>0101010101010101010 recipe does not compute 0101010101010101010</h2>
  <h2 class='text-center'>010 beep beep boop 010101010101010101010 try again 010100101010</h2>
  </h2>
<% end %>
