<h1>Muncher</h1>
<section>
  <%= render partial: "form" %>
</section>

<h1><%= @recipe.name %></h1>
<h2>by <%= @recipe.source %></h2>

<ul>
  <li>
    <%= @recipe.photo %>
  </li>
  <li>
    <%= @recipe.original_recipe %>
  </li>
  <li>
    <ul>
      Ingredients
    <% @recipe.ingredients.each do |ingredient| %>
    <li>
      <%= ingredient %>
    </li>
    <% end %>
    </ul>
  </li>
  <li>
    <ul>
      Dietary Labels
    <% @recipe.diet_labels.each do |label| %>
    <li>
      <%= label %>
    </li>
    <% end %>
    </ul>
  </li>
</ul>
