<%= render partial: "header" %>

<div class="show_page">
  <h2><%= @recipe.name %></h2>
  <img src=<%= @recipe.image %> >

  <div class="show_block">
    By: <a href="<%=@recipe.url%>"> <%=@recipe.source%> </a>
  </div>

  <div class="show_block">
    Yield: <%=@recipe.yield%> servings
  </div>

  <div class="show_block">
    Ingredients:
      <% @recipe.ingredients.each do |ingredient| %>
      <ul><li>
      <%= ingredient %>
    </li></ul>
    <% end %>
  </div>

  <div class="show_block">
    Health Label:
    <% @recipe.labels.each do |label| %>
    <ul><li>
      <%= label %>
    </li></ul>
    <% end %>
  </div>

  <div class="show_block">
    Caution:
    <% @recipe.cautions.each do |caution| %>
    <ul><li>
      <%= caution %>
    </li></ul>
    <% end %>
  </div>
</div>
