<%= render partial: "form" %>

<article class="show-recipe">
  <h3> <%= @recipe.name %></h1>

  <h3><%= link_to "View full recipe ->", @recipe.url, target: :_blank, class: "recipe_page_link"%></h3>
  <section class="recipe-detail">
    <div class="w-25 image">
      <%= image_tag @recipe.image %>
    </div>
    <div class="ingredients">
      <h3> Ingredients: </h3>
        <ul>
          <% @recipe.ingredients.each do |item| %>
            <li>
              <%= item %>
            </li>
          <% end %>
        </ul>
      </div>
    <div class="nutrition">
      <h3> Calories: <%= @recipe.calories %> </h3>
    </div>
    <div class="categories">
    <h3> Category labels: </h3>
      <ul>
        <% @recipe.health_labels.each do |label| %>
          <li>
            <%= label %>
          </li>
        <% end %>
      </ul>
    </div>
  </section>
</article>
