<h1> <%= "#{@recipe.title}" %> </h1>

<img src = <%= @recipe.photo %> alt = "photo of <%= @recipe.title %>" />
<cite> Source: <%= @recipe.source %> </cite>
<li> Servings: <%= @recipe.servings.to_i %> </li>
<li> Calories per: <%= @recipe.calorie_count.to_i %> </li>
<% if @recipe.prep_time > 0.0 %>
  <li> Prep Time: <%= @recipe.prep_time %>
<% end %>
 <li>
     <% @recipe.diet.each do |diet| %>
      <%= diet %>
     <% end %>
</li>
<li>
     <% @recipe.restrictions.each do |restriction| %>
      <%= restriction %>
     <% end %>
</li>
<article>

<h3> Ingredients </h3>

<% @recipe.ingredients.each do |ingredient| %>
  <li> <%= ingredient %> </li>
<% end %>

<p> <%= link_to "Click here", @recipe.recipe_link, target: :_blank %> to review the directions for this recipe. </p>

</article>
