<main id="home">
  <div class="home_container">
    <section class="search">
      <div>
        <%= form_tag search_path do %>
        <%= label_tag(:queery, "Ingredient(s)?") %>
        <%= text_field_tag(:queery) %>
        <%= submit_tag("Explore") %>
        <% end %>
      </div>
    </section>

    <section class="recent_searches">
      <div>
        <h2>most recent searches:</h2>
        <ul>
          <% @recent_searches.each do |search| %>
          <li><%= link_to "#{search.queery}", search_path(:queery=> search.queery) %></li>
          <% end %>
        </ul>
      </div>
    </section>
  </div>
</main>
