<%= paginator(session[:page], @recipes) %>

<% if @recipes[0].url == nil %>
  <h2><%= @recipes[0].title %></h2>
<% else %>
  <% @recipes.each do |recipe| %>
    <ul>
      <li><h1><%= recipe.title %></h1></li>
      <li><%= image_tag(recipe.image) %></li>
      <li>via <%= link_to "#{recipe.source}", recipe.url %></li>
      <li><%= link_to "view details", recipe_path(:uri=> recipe.uri) %></li>
    </ul>
  <% end %>
<% end %>
