<section class="hits">
  <h1>Search Results</h1>
  <% if @recipes %>

  <ul>
    <% @recipes.each do |recipe| %>
    <li>Recipe Title: <%= recipe.label %></li>
    <li>Image: <%= recipe.image %></li>
    <%= link_to recipe_path(recipe.id) do %>
    <%= image_tag(recipe.image, alt: "food-porn") %>
    <% end %>
    <li>Origin: <%= recipe.uri %></li>

    <li>Ingredients:
      <ul class="nested">
        <% if recipe.ingredientLines %>
        <% @recipe.ingredientLines.length.times do |i| %>
        <li><%= @recipe.ingredientLines[i] %></li>
        <% end %>
      </ul>
      <% end %>
    </li>

    <li>Dietary Restrictions:
      <ul class="nested">
        <% if recipe.healthLabels %>
        <% @recipe.healthLabels.length.times do |i| %>
        <li><%= @recipe.healthLabels[i] %></li>
        <% end %>
      </ul>
      <% end %>
    </li>
    <% end %>

  </ul>

  <% end %>

</section>
