<section class="hits">
  <h1>Recipe Details</h1>

  <ul>
    <li>Recipe Title: <%= @recipe.label %></li>
    <li>Image: <%= image_tag(@recipe.image, alt: "food-porn") %></li>
    <li>Origin: <%= @recipe.uri %></li>

    <li>Ingredients:
      <ul class="nested">
        <% if @recipe.ingredientLines %>
        <% @recipe.ingredientLines.length.times do |i| %>
        <li><%= @recipe.ingredientLines[i] %></li>
        <% else %>
        <li> N/A </li>
        <% end %>
      </ul>
      <% end %>
    </li>

    <li>Dietary Restrictions:
      <ul class="nested">
        <% if @recipe.healthLabels %>
        <% @recipe.healthLabels.length.times do |i| %>
        <li><%= @recipe.healthLabels[i] %></li>
        <% else %>
        <li> N/A</li>
        <% end %>
      </ul>
      <% end %>
    </li>

  </ul>

</section>
