<% if @recipe %>
  <h1>
    <%= @recipe.label %>

    <form action="<%= favorites_path %>" method="post" class="form add-to-favorites d-inline-block">
      <input type="hidden" name="recipe_uri_fragment" value= "<%= @recipe.recipe_uri.fragment %>">
      <button type="submit" class="btn btn-primary btn-sm">
        <i class="fa fa-heart"></i>  Add To Favorites</button>
    </form>

  </h1>

  <%= image_tag(@recipe.image_uri, size: "400x400", alt: "#{@recipe.label} image") %>
  <p><%= link_to "From: #{@recipe.source}", @recipe.source_uri, target: "_blank" %></p>
  <p>Serves <%= @recipe.recipe_yield.to_i %></p>
  <p><small>
    <% @recipe.health_labels.each do |label| %>
    <%= label %>
    <% end %></small></p>
  <h2>Ingredients:</h2>
  <ul>
  <% @recipe.ingredient_lines.each do |line| %>
    <li><%= line %></li>
  <% end %>
  </ul>
<% end %>
