<section class="recipes-list">
  <h1><%= @recipe.label %></h1>
  <table>
      <tr>
        <td><%= @recipe.label %></td>
        <td><%=  @recipe.image  %></td>
        <td><%=  @recipe.yield  %></td>
        <td><%=  @recipe.dietLabels  %></td>
        <td><%=  @recipe.healthLabels  %></td>
        <td><%= @recipe.ingredients  %></td>
        <td><%= @recipe.calories  %></td>
      </tr>
  </table>
</section>
