<!DOCTYPE html>
<html>
  <head>
    <title>ApiMuncher</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://developer.edamam.com/attribution/badge.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Roboto" rel="stylesheet">
  </head>

  <div class="container">
    <body>
      <% flash.each do |key, value| %>
        <%= content_tag :div, value, class: "alert alert-#{key}", role: "alert" %>
      <% end %>

      <%= yield %>
    </body>
  </div>

</html>
