<!DOCTYPE html>
<html>
  <head>
    <title>ApiMuncher</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Muncher</h1>

    <%= form_tag recipes_path(@query), method: "post" do %>
      <%= label_tag(:user_search, "Find your flavor...") %>
      <%= text_field_tag(:user_search) %>
      <%= submit_tag("Search Recipes") %>
    <% end %>

    <%= yield %>
  </body>
</html>
