<!DOCTYPE html>
<html>
  <head>
    <title>ApiMuncher</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <nav>
        <% if session[:user_id] %>
            <%= link_to "Log out", logout_path, method: "delete"   %> <!-- change log in to log out -->
        <% else %>
            <%= link_to "Login with Github", "/auth/github" %> <!-- show log-in button -->
        <% end %>
      </nav>
    </header>

      <section class="flash">
        <% flash.each do |name, message| %>
        <div class="<%= name %>"><%= message %></div>
        <% end %>
      </section>
    <%= yield %>
  </body>
</html>
