<!DOCTYPE html>
<html>
  <head>
    <title>ApiMuncher</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://developer.edamam.com/attribution/badge.js"></script>
  </head>

  <body>
    <nav>
      <ul class = "nav_home">
        <li class = "home"><%= link_to "Home page", root_path,target: :_blank %></li>
        <li> <%= render partial: "form" %></li>
      </ul>
    </nav>

    <% if flash[:result_text] or flash[:messages] %>
  <section class="alert__container">
    <div class="alert alert-<%= flash[:status].to_s == 'failure' ? 'warning' : flash[:status] %>">
      <span><%= flash[:status].to_s == "failure" ? "A problem occurred: " : "" %><%= flash[:result_text] %></span>
      <% if flash[:messages] %>
        <ul>
          <% flash[:messages].each do |name, problems| %>
            <% problems.each do |problem| %>
              <li><%= name %>: <%= problem %></li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </div>
  </section>
<% end %>

    <%= yield %>
    <foot>
      <div id="edamam-badge" data-color="white"></div>
    </foot>
  </body>
</html>
