<!DOCTYPE html>
<html>
  <head>
    <title>ApiMuncher</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://developer.edamam.com/attribution/badge.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Roboto" rel="stylesheet">
  </head>

  <div class="container">

    <section class="recipe-finder">
      <h1>Recipe Finder</h1>
      <div id="edamam-badge" data-color="light"></div>

      <%= form_tag recipe_index_path, method: :get do %>
      <%= label_tag(:search_terms, "Enter Ingredient") %>
        <%= text_field_tag ( :search_terms ) %>
        <%= submit_tag ( "Search" ) %>
      <% end %>
    </section>

    <body>
      <%= yield %>
    </body>
  </div>

</html>
