<!DOCTYPE html>
<html>
  <head>
    <title>ApiMuncher</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- bootstrap -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://developer.edamam.com/attribution/badge.js"></script>
  </head>


  <% if flash[:result_text] or flash[:messages] %>
    <section class="alert__container">
      <div class="alert alert-<%= flash[:status].to_s == 'failure' ? 'warning' : flash[:status] %>">
        <span><%= flash[:status].to_s == "failure" ? "A problem occurred: " : "" %><%= flash[:result_text] %></span>
        <% if flash[:messages] %>
          <ul>
            <% flash[:messages].each do |name, problems| %>
              <% problems.each do |problem| %>
                <li><%= name %>: <%= problem %></li>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      </div>
    </section>
  <% end %>


  <body>
    <%= yield %>
  </body>

  <footer>
    <div id="edamam-badge" data-color="white"></div>
  </footer>

</html>
