<!DOCTYPE html>
<html>
  <head>
    <title>ApiMuncher</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://developer.edamam.com/attribution/badge.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  </head>

  <header>
    <h1>Muncher</h1>
    <%= form_tag(recipes_path, method: :get) do %>
      <%= text_field_tag :q, params[:q] %>
      <%= submit_tag("Search", name: nil, class: "btn btn-primary") %>
    <% end %>
  </header>
  <section class="flash">
    <% flash.each do |name, message| %>
      <% if message.class == Array %>
        <div class="alert-warning">
          <% message.each do |msg| %>
            <p><strong><%= "#{name}:" %></strong><%= " #{msg}" %></p>
          <% end %>
        </div>
      <% else %>
        <div class="alert-<%= name %>">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </section>

  <body>
    <%= yield %>
  </body>
  <footer>
    <div id="edamam-badge" data-color="white"></div>
  </footer>
</html>
