<!DOCTYPE html>
<html>
  <head>
    <title>ApiMuncher</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <h1>Muncher</h1>
    <%= form_tag(recipes_path, method: :get) do %>
      <%= text_field_tag :q, params[:q] %>
      <%= submit_tag("Search", name: nil) %>
    <% end %>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
