<!DOCTYPE html>
<html>
  <head>
    <title>ApiMuncher</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Baloo+Bhaijaan|Gloria+Hallelujah|Questrial" rel="stylesheet">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark justify-content-between">
      <a class="title navbar-brand" href="/">mmMUNCHIES</a>

      <%= form_tag(list_recipes_path, method: "get", class: "form-inline") do %>
        <%= label_tag(:search, "Let's make: ") %>
        <%= text_field_tag :search, "", class: "form-control" %>
        <%= submit_tag("Search", class: "btn btn-outline-success my-2", name: nil) %>
      <% end %>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
