<!DOCTYPE html>
<html>
  <head>
    <script src="https://developer.edamam.com/attribution/badge.js"></script>
    <title>ApiMuncher</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <footer>
  <div id="edamam-badge" data-color="white"></div>
  </footer>
</html>
